<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  <form class="form-group" [formGroup]="projectForm" (submit)="onSubmit()">
    <label for="name">Name</label>
    <input type="text" class="form-control" formControlName="name" />
    <span
      class="help-block"
      *ngIf="!projectForm.get('name').valid && projectForm.get('name').touched"
      >Please Enter Valid Name</span
    >
    <span
      class="help-block"
      *ngIf="projectForm.get('name').hasError('invalidProjectName')"
      >Name is Forbidden to use...</span
    >
    <label for="mail">Mail</label>
    <input type="text" class="form-control" formControlName="mail" />
    <label for="status">Status</label>
    <select name="status" class="form-control" formControlName="status">
      <option value="stable">Stable</option>
      <option value="critical">Critical</option>
      <option value="stable">Stable</option>
    </select>
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>
